<a id="logo" href="/">
	<svg id="Capa_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500"><style>.st0{fill:#42a8c8}.st1{fill:#426d88}.st2{fill:#428bb4}.st3{fill:#16657c}.st4{fill:#39b54a}.st5{fill:#009245}.st6{fill:#f2c63f}.st7{fill:#f2b136}.st8{fill:#f2a130}.st9{fill:#ff7124}.st10{fill:#d93d1b}</style><switch><g><path class="st0" d="M5.2 273.7l110.7 126.8h268.2l110.7-126.8-110.7-126.8H115.9z"/><path class="st1" d="M115.9 400.5h268.4v56.4H115.9z"/><path class="st2" d="M115.9 456.8L5.2 330v-56.3l110.7 126.8z"/><path class="st3" d="M384.1 456.8L494.8 330v-56.3L384.1 400.5z"/><path class="st4" d="M465.7 253.4c0-47-96.6-85.2-215.7-85.2S34.4 206.3 34.4 253.4s96.5 85.2 215.6 85.2 215.7-38.2 215.7-85.2z"/><path class="st5" d="M465.7 253.4c0 47-96.6 85.2-215.7 85.2S34.4 300.4 34.4 253.4v46.9c14.9 41.3 106.5 85.2 215.6 85.2s200.8-43.9 215.7-85.2v-46.9z"/><path class="st6" d="M16.3 178.6L250 314.1l233.8-135.5L250 43.2z"/><path class="st7" d="M16.3 178.6v52.8L250 366.9v-52.8z"/><path class="st8" d="M483.8 178.6L250 314.1v52.8l233.8-135.5z"/><path class="st9" d="M68 212.4l364.1-53-92.4-106z"/><path class="st10" d="M68 212.4l364.1-53v47.8L68 260.1z"/></g></switch></svg>
</a>
